@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Highlights afbeeldingen</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Events</h2>
        <p>Great movies and inspiring specials</p>
        <p>@Html.ActionLink("See all available activities", "Events", "Product")</p>
        <h2>Food</h2>
        <p>Delicious food in exquisite restaurants</p>
        <p>@Html.ActionLink("See all available restaurants", "Restaurants", "Product")</p>
        <h2>Culture</h2>
        <p>Experience the rich culture of the city</p>
        <p>@Html.ActionLink("Points of interest in Haarlem", "Events", "Product")</p>
    </div>
    <div class="col-md-4">
        <h2>Film&Food Tickets</h2>
        <p>The perfect combination of a movie and a culinary experience. Enjoyment a it's finest.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Order Film&Food Ticket &raquo;</a></p>
        <h2>Day Tickets</h2>
        <p>Go to two movies and an iHff special on a single day for one great price.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Order Day Ticket &raquo;</a></p>
        <h2>Film&Food Tickets</h2>
        <p>Make your own movie programme. You can put together the movies you want to see during the entire festival. Order tickets for two or more movies to get a 5% discount!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Create Personal Programme &raquo;</a></p>
    </div>
</div>