@using ihff_project.Models;


@{
    ViewBag.Title = "Restaurants";
}

<h2>Restaurants</h2>

<div class="row">
    <div class="col-md-9">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <h4>RestaurantNaam</h4>
                    <p>Content <button class="pull-right btn btn-danger">Reserveer</button></p>
                </div>
                <hr />
                <div class="col-md-12">
                    <h4>RestaurantNaam</h4>
                    <p>Content <button class="pull-right btn btn-danger">Reserveer</button></p>
                </div>
                <hr />
                <div class="col-md-12">
                    <h4>RestaurantNaam</h4>
                    <p>Content <button class="pull-right btn btn-danger">Reserveer</button></p>
                </div>
                <hr />
                <div class="col-md-12">
                    <h4>RestaurantNaam</h4>
                    <p>Content <button class="pull-right btn btn-danger">Reserveer</button></p>
                </div>
                <hr />
                <div class="col-md-12">
                    <h4>RestaurantNaam</h4>
                    <p>Content <button class="pull-right btn btn-danger">Reserveer</button></p>
                </div>
                <hr />
                <div class="col-md-12">
                    <h4>RestaurantNaam</h4>
                    <p>Content <button class="pull-right btn btn-danger">Reserveer</button></p>
                </div>
                <hr />

            </div>
        </div>

    </div>
    <div class="col-md-3">
        <h3>Personal Programme</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="PersonalProgrammeBox" style="background-color:#808080; border: 1px dashed black; height: 200px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




